// Colors
$white:                       #fff;                              // Pure white color
$theme-white:                 $white;                              // Pure white color
$black:                       #000;                              // Pure black color
$theme-black:                 $black;                              // Pure black color

$theme-blue-lighten:          #3375ae;
$theme-blue-light:            #337dbd;
$theme-blue:                  #2362a2;
$theme-blue-dark:             #254e80;

$theme-yellow:                #ecae1a;
$theme-red:                   #e04857;
$theme-gray-dark:             #3b3b3b;
$theme-gray:                  #707070;
$theme-gray-lighten:          #e1e1e1;
$theme-gray-light:            #f5f5f5;
